.tabs {
  font-family: 'Consolas', monospace;
  display: flex;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__link {
  display: block;
  margin: 0;
  padding: 10px;
  border: 2px solid black;
}

.tabs__link--active {
  background-color: yellowgreen;
}

.tabs__link:hover {
  background-color: lightgreen;
}
.tabs__link:focus {
  outline: none;
  background-color: green;
}
.tabs__link:active {
  background-color: green;
}

.tabs__link--active:focus {
  background: yellowgreen;
}
